ft-main = #222
ft-dim = rgba(51, 51, 51, 0.8)

ft-highlight = #00aaff
ft-highlight-2 = #ff00fb

link-ft-color = ft-highlight
link-ft-color-hover = ft-highlight-2

more-link-ft-color = ft-main
more-link-ft-color-hover = #fff
more-link-bg-color-hover = ft-highlight
