main-size = 16px

paragraph-default = 1em
paragraph-default-lh = 1.421em

paragraph-increased = 1.368em
paragraph-increased-lh = 1.5em

headline-max = 3.26em
headline-max-vpw = 5.5vw
headline-max-lh = 0.928em
