icon-distance = .3em

stroke-icon()
  font-family 'Pe-icon-7-stroke'
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  position relative
  top .1em
