@require '../moleculares/stroke-icon'

.button-link
  margin-top 1.5em

  a
    color more-link-ft-color
    font-weight 200
    font-size 1em
    border 1px solid more-link-ft-color
    padding .3em 1em .3em .6em
    border-radius 3px

    &:hover, &:active
      background-color more-link-bg-color-hover
      border-color more-link-bg-color-hover
      color more-link-ft-color-hover
      transition .15s linear background-color
