h1
  font-family 'SanchezRegular'
  font-size headline-max
  font-size headline-max-vpw
  line-height headline-max-lh

  &, & a:link, & a:visited, & a:hover, & a:active
    color ft-main



  +below(700px)
    font-size headline-max


  text-align center
  // text-transform uppercase
  font-weight 400
  font-style normal
  margin-bottom .3em

  a
    color ft-main
    text-decoration none
