p
	font-family 'Source Sans Pro', Verdana, Geneva, Tahoma, sans-serif
	font-size paragraph-default
	font-style normal
	line-height paragraph-default-lh
	color rgba(51, 51, 51, 0.80)

p.intro
	font-family 'SanchezRegular'
	font-size paragraph-increased
	line-height paragraph-increased-lg
	border-top 1px
	border-bottom 1px
	padding 1.154em
	text-align center
	border-style solid
	margin 1.038em 0px
	font-weight 400
